html,
body {
  font-size: 18px;
  background-color: white;
  font-family: Helvetica;
}

/* Boxes to help with design
section {
  border: 1px solid blue;
} */

.sasi {
  display: block;
}

.sasi img {
  height: 1.5rem;
  padding: 0.66rem 1rem 0.5rem 0.66rem;
}

.container {
  display: flex;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
}

.banner {
  margin: 0 auto;
  background-image: url('https://jimtrippe.github.io/secretagentsupply/resources/images/moto.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
}

.sasi,
.banner,
.message {
  color: white;
  background-color: black;
}

.nav {
  color: white;
  background-color: firebrick;
}

.nav .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  padding: 0.75em 0;
}

.nav .menu {
  display: none;
}

.message {
  font-size: 1rem;
  font-weight: bold;
  width: 20rem;
  margin-top: 9rem;
}

h4 {
  padding-top: 2rem;
  padding-left: 3rem;
}

h1 {
  font-size: 2rem;
  padding: 0.25rem 3rem 2rem 3rem;
}

.products {
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
  width: 960px;
}

.item1,
.item2,
.item3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30%;
  border: 4px solid black;
}

.item1 img,
.item2 img,
.item3 img {
  margin: 2rem 1rem;
  height: 9rem;
  max-width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item1 span,
.item2 span,
.item3 span {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5rem 0;
  width: 100%;
}

.locate {
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
  width: 960px;
}

.visit {
  display: flex;
  align-items: left;
  flex-direction: column;
  width: 35%;
}

.black {
  display: block;
  background-color: black;
  color: white;
  padding: 1rem 0 1rem 2rem;
  width: 90%;
}

footer {
  margin-top: 4em;
  background-color: black;
  color: white;
  height: 5rem;
  vertical-align: middle;
}

.foot {
  display: flex;
  align-items: left;
  padding-top: 2rem;
}

@media only screen and (max-width: 1024px), (orientation: portrait) {
    /* Less than 1024 pixel screen */
  .nav .container {
  display: none;
  }
  .nav .menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding: 0.75em 0;
  }
  .item1,
  .item2 {
    width: 47%;
  }
  .item3 {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
    /* Less than 470 pixel screen */
  h4 {
    font-size: 0.77rem;
    padding-top: 1rem;
    padding-left: 2rem;
  }
  h1 {
    font-size: 1rem;
    padding-left: 2rem;
  }
  .message {
    font-weight: bold;
    width: 100%;
    margin-top: 10rem;
  }
  .banner {
    height: 15rem;
  }
  .products {
    justify-content: center;
  }
  .item1 {
    width: 90%;
  }
  .item2,
  .item3 {
    display: none;
  }
  .locate {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .visit {
    padding-top: 0.5rem;
    width: 90%;
  }
  .foot {
    width: 100%;
  }
  .foot span {
    width: 100%;
    text-align: center;
  }
}
